@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body {
    min-height: 100vh;
    background-color: black;
    color: #fff;
}
header {
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5) ;
    backdrop-filter:blur(10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2); 
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 40px;
   z-index: 99999;
   justify-content: space-between;
}
header img {
    position: relative;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    left: 80px;
}
header .nama {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 20px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  
#nav-icon3 span:nth-child(1) {
    top: 0px;
  }
  
  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 18px;
  }
  
  #nav-icon3 span:nth-child(4) {
    top: 36px;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
section {
    padding: calc(50% - 30%) 40px ;
    text-align: justify;
    text-justify: inter-word;
    font-size: 10px;
    
}
section h2 {
    text-align: left;
    line-height: 25px;
}
section #aboutme {
    justify-content: center;
    align-items: center;
}
section ul {
    line-height: 40px;
    display: flex;
    list-style:none;
    justify-content: space-between;
    width: 100%;
    background-color: lightblue;
    border-radius: 20px;
    padding: 0px 6px;
}
section ul a{
    text-decoration: none;
    padding: 6px 15px;
    color: black;
    font-weight: 500;
    border-radius: 20px;
}
section ul a:hover {
    background: #405685;
    color: #fff;
}
section img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0 ,0 , 0.1 );
    transition: transform 0.3s ease-in-out;
}
section.s2 {
    padding: 0px 40px;
}
footer {
    background-color: lightblue;
    color: black;
    padding: 20px;
    text-align: center;
    font-weight: 500;
}
#contact {
    padding: 40px;
    background-color: #f5f5f5;
    line-height: 40px;
}

#contactForm {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
    
}
label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
}

button {
    background-color: lightblue;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
#portofolio {
    background-color: #fff;
}
@media screen and (max-width: 600px) {
}
//*@media screen and (min-width: 601px) {
    body {
        font-size: calc(50% + 20px);
        width: 100%;
    }
    header {
        
        padding: 20px 40px;
        align-items: center;
        justify-content: space-between;
        display: flex;
        line-height: calc(50% + 50px);
    }
    header .nama {
        
        letter-spacing: 1px;
        line-height: 25px;
        font-size: calc(50% + 20px);
    }
    header ul {
        width: calc(80% - 20px);
        text-align: center;
    }
    header ul li {
        font-size: calc(50% + 55%);
        list-style: none;
        width: 100%;
        margin-left: 0px;
        padding: 6px calc(10% - 10px);
        align-items: center;
    }
    header ul li a {
        text-decoration: none;
        text-align: justify;
        padding: 6px calc(50% + 10px);
        color: black;
        font-weight: 500;
        border-radius: 20px;
    }
    section #aboutme {
        padding: 50px ;
        font-size: calc(50% + 15px);
       
    }
    #portofolio h2 {
        text-align: center;
        line-height: 50px;
        padding: 20px;
        font-size: calc(5% + 25px);
    }
    section ul {
        font-size: calc(50% + 12px);
        padding: 0px 50px;
        justify-content: space-evenly;
    }
}

       
